<div class="manage h-screen flex items-center justify-center">
    <div class="max-w-2xl mx-auto">
        <div class="flex flex-col">
            <div class="overflow-x-auto shadow-md sm:rounded-lg border -mt-64">
                <div class="inline-block min-w-full align-middle">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed">
                        <thead class="bg-gray-100">
                            <tr>
                                <th scope="col"
                                    class="py-3 px-6 font-medium tracking-wider text-left text-gray-700 uppercase">
                                    <div class="flex">
                                        <div class="flex flex-col flex-grow">
                                            <span>Course</span>
                                            <span class="text-xs">Instructor</span>
                                        </div>

                                        <button pButton pRipple type="button" label="New Course"
                                            class="p-button-sm p-button-outlined uppercase" style="padding: 0 1rem;"
                                            routerLink="/manage/new">
                                        </button>

                                        <span class="p-input-icon-left ml-4">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText placeholder="Filter ..."
                                                class="p-inputtext-sm search-input" />
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="courses.length < 1; else coursesEl" class="bg-white divide-y divide-gray-200">
                            <tr class="hover:bg-gray-100">
                                <td
                                    class="py-4 px-6 font-medium text-xs text-gray-900 whitespace-nowrap cursor-pointer">
                                    <div class="text-gray-400 text-center">
                                        Use the <span class="font-bold">New Course</span> button to
                                        <span class="font-bold">add a course</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #coursesEl>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr *ngFor="let course of courses" class="hover:bg-gray-100">
                                    <td class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap cursor-pointer"
                                        [routerLink]="['/manage', course.id]">
                                        <div class="flex flex-col">
                                            <span class="text-xs">{{ course.id }}</span>
                                            <span>{{ course.title }}</span>
                                            <span class="text-xs">{{ course.teacher }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="pendingIndex" class="fixed bottom-10 right-10">
        <button pButton pRipple type="button" icon="pi pi-filter-fill" class="p-button-outlined" label="Index Updates"
            (click)="indexUpdates()"></button>
    </div>
</div>